:root {
    --mint: #12bfae;
    --darker-mint: #0ca192;
    --white: #f7f7f7;
}

header {
    text-align: center;
}

.heading {
    color: var(--white);
    font-size: 5rem;
}

body {
    background-color: var(--mint);
    font-family: 'Shantell Sans', cursive;;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid {
    margin-bottom: 4rem;
    background: var(--darker-mint);
    display: inline-grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0.5rem;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mint);
    font-size: 4rem;
    cursor: pointer;
}

.restartBtn {
    background: var(--white);
    color: black;
    font-size: 2rem;
    padding: 1rem;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}